<!--
  Generated template for the CustomerAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>添加顾客</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="customer-add">
  <div class="create-item">
    <span class="required-edit item-name">名称</span>
    <span class="item-operation" (click)="selectText('realName')">
      <span *ngIf="customer.realName">{{customer.realName}}</span>
      <span *ngIf="!customer.realName">请填写
        <ion-icon name="arrow-dropright"></ion-icon>
      </span>

    </span>
  </div>
  <div class="create-item">
    <span class="required-edit item-name">手机号</span>
    <span class="item-operation" (click)="selectText('phoneNum')">
      <span *ngIf="customer.phoneNum">{{customer.phoneNum}}</span>
      <span *ngIf="!customer.phoneNum">请填写
        <ion-icon name="arrow-dropright"></ion-icon>
      </span>
    </span>
  </div>
  <div *ngFor="let address of customer.addresss;let i=index" class="create-item">
    <span class="item-name">常用地址{{i+1}}</span>
    <span class="item-operation" (click)="selectText(i)">
      <span *ngIf="customer.addresss[i]">{{customer.addresss[i]}}</span>
      <span *ngIf="!customer.addresss[i]">请填写
        <ion-icon name="arrow-dropright"></ion-icon>
      </span>
    </span>
  </div>

  <button ion-button (click)="addAddress()">添加地址</button>
</ion-content>
<ion-footer>
  <button block ion-button (click)="save()">保存</button>
</ion-footer>

